In [120]:
import numpy as np
from os.path import join
import pandas as pd
from utils import odor_groups_3wgth
import pingouin as pg
from scipy.stats import ttest_rel

PATH = '/media/1_Analyses_Intra_EM_Odor/1bis_OE_BaseSam/JPlailly201306_seeg_ALS/'
dfname = join(PATH, 'behavior/episodic_all_su_all_trials_old_odors.csv')


#invert dict by odor instead of by condition
new_dict = {}
for su in odor_groups_3wgth:
    all_odors = {}
    for k, v in odor_groups_3wgth[su].items():
        all_odors.update({od:k for od in v})
    new_dict[su] = all_odors

df = pd.read_csv(dfname,index_col=0)
print(df.shape)

#clean df and column type
df['odor_num'] = df['odor_num'].astype('str')
df['image_context'] = df['image_context'].astype('str')
df['context_day'] = df['context_day'].astype('str')
df = df.drop(df[(df['odor_num'] == '15') & (df['subject_name'] == 'PIRJ')].index)

df_gr = df.groupby(['subject_name','image_context'], as_index=False).mean()
a = df_gr['epi_chance_wght'].loc[df_gr['image_context']=="M"].values
b = df_gr['epi_chance_wght'].loc[df_gr['image_context']=="F"].values
T, p = ttest_rel(a,b)
print('context', np.mean(a), np.mean(b), T,p)

df_gr = df.groupby(['subject_name','context_day'], as_index=False).mean()
a = df_gr['epi_chance_wght'].loc[df_gr['context_day']=="1.0"].values
b = df_gr['epi_chance_wght'].loc[df_gr['context_day']=="2.0"].values
T, p = ttest_rel(a,b)
print('day',np.mean(a), np.mean(b), T,p)
#anova 2 facteurs à mesures répétées (pas assez d'essais)
#df_sel = df.groupby(['subject_name','odor_num'],as_index=False).first()
#df_sel['richness'] = [new_dict[su][od] for su, od in zip(df_sel['subject_name'],
#                                                         df_sel['odor_num'])]
#df_sel['idx'] = [1 for w in df_sel['richness']]
#df_im = df_sel.groupby(['subject_name','image_context','richness'],as_index=False).sum()
#aov1 = pg.rm_anova(dv='idx',within=['image_context','richness'],
#                  subject='subject_name',data=df_im)

(143, 12)
context 3.9067340067340073 4.136952861952862 -0.12736870581277895 0.9036125063162281
day 3.2256734006734007 4.8180134680134685 -0.9566503617841189 0.38267823818401314

In [89]:
import pingouin as pg

df = pg.read_dataset('rm_anova')
print(df)
aov = pg.rm_anova(dv='DesireToKill',
                  within=['Disgustingness', 'Frighteningness'],
                  subject='Subject', data=df)

aov.round(3)

     Subject  Gender  Region Education  DesireToKill Disgustingness  \
0          1  Female   North      some          10.0           High
1          1  Female   North      some           9.0           High
2          1  Female   North      some           6.0            Low
3          1  Female   North      some           6.0            Low
4          2  Female   North   advance          10.0           High
..       ...     ...     ...       ...           ...            ...
367       99  Female   North      some           9.0            Low
368      100  Female  Europe      some           3.0           High
369      100  Female  Europe      some           2.0           High
370      100  Female  Europe      some           5.5            Low
371      100  Female  Europe      some           5.5            Low

    Frighteningness
0              High
1               Low
2              High
3               Low
4              High
..              ...
367             Low
368            High
369             Low
370            High
371             Low

[372 rows x 7 columns]

,Source,SS,ddof1,ddof2,MS,F,p-unc,p-GG-corr,np2,eps
0,Disgustingness,53.165,1,92,53.165,16.138,0.000,0.000,0.149,1.0
1,Frighteningness,181.705,1,92,181.705,43.094,0.000,0.000,0.319,1.0
2,Disgustingness * Frighteningness,6.321,1,92,6.321,2.287,0.134,0.134,0.024,1.0